<div class="background-{{color}} u-border-radius {{padding}}">
	{{#if heading}}
		<h2 class="{{heading_classes}}">{{heading}}</h2>
	{{/if}}
	<ul class="u-list-clean {{#if button}}u-m-b-4{{/if}}">
		{{#each list_items}}
		<li class="display-flex u-m-b-1">
			{{#if icon}}
				<div class="u-m-r-4">{{> @icon id=this.icon additional_classes="u-icon"}}</div>
			{{/if}}
			<div>{{{li_text}}}</div>
		</li>
		{{/each}}
	</ul>

	{{#if button}}
	<div class="grid-18 grid-md-9 row">
		{{> @button el="a" text=this.button_text modifiers=this.button_modifiers icon=this.button_icon}}
	</div>
	{{/if}}

</div>
