<div class="o-features-box{{#if modifier}} o-features-box--{{modifier}}{{/if}} background-{{color}} {{height}}">
	{{#if heading}}
		<h2 class="{{heading_classes}}">{{heading}}</h2>
	{{/if}}
	<ul class="o-features-box__list">
		{{#each list_items}}
		<li class="o-features-box__list__item">
			{{#if icon}}
				<div class="o-features-box__list__icon">{{> @icon id=this.icon additional_classes="u-icon"}}</div>
			{{/if}}
			<div>{{{li_text}}}</div>
		</li>
		{{/each}}
	</ul>

	{{#if button}}
	<div class="row u-m-t-4">
		<div class="grid-18">
			{{> @button el="a" text=this.button_text modifiers=this.button_modifiers icon=this.button_icon}}
		</div>
	</div>
	{{/if}}

</div>
