<div class="field-group{{#if is_invalid}} is-invalid{{/if}}">
	{{> @label for="select" label="Select"}}
	<select id="{{id}}" {{#if is_invalid}}aria-invalid="true"{{/if}} {{#if required}}required{{/if}} {{#if disabled}}disabled{{/if}} class="a-select{{#if modifier}} {{modifier}}{{/if}}" {{#if has_help}} aria-describedby="select-help"{{/if}} {{#if required}} aria-describedby="select-help"{{/if}}>
		{{#each options}}
		<option value="{{value}}"{{#if is_disabled}} disabled{{/if}}{{#if is_selected}} selected{{/if}}>{{text}}</option>
		{{/each}}
	</select>
	{{#if has_help}}
	<div class="input-help" id="select-help">
		V채lj det som passar dig b채st
	</div>
	{{else if required}}
	<div class="input-help" id="select-help">
		F채ltet 채r obligatoriskt
	</div>
	{{/if}}
</div>
