<div class="js-o-accordion o-accordion">
	{{#each accordion_item}}
	<h3 class="js-accordion__header"{{#if is_expanded}} data-accordion-opened="true"{{/if}}>
		{{#if heading}}
		<span class="beta">{{heading}}</span>
		{{else if registrar}}
		<dl class="o-accordion__list">
			<dt class="beta"><a href="https://www.google.se">{{registrar}}</a></dt>
			<dd class="o-accordion__list__item"><a href="{{registrar_url}}">{{registrar_url}}</a></dd>
			<dd class="o-accordion__list__item"><span class="o-accordion__list__flag">{{flag}}</span> {{location}}</dd>
			<dd class="o-accordion__list__item">{{{contact}}}</dd>
			<dd class="o-accordion__list__item"></dd>
		</dl>
		{{/if}}
	</h3>
	<div class="js-accordion__panel">
		<div class="o-accordion__panel__content">
			{{{content}}}
		</div>
	</div>
	{{/each}}
</div>
