{{#if has_label}}<label class="a-progress-label"> {{value}}% {{/if}}<{{#if meter}}meter{{else}}progress{{/if}} class="a-progress{{#if additional_classes}} {{additional_classes}}{{/if}}" max="{{max}}" value="{{value}}" {{#if max_width}}style="max-width:{{max_width}}"{{/if}} data-value="{{value}}">{{value}}</{{#if meter}}meter{{else}}progress{{/if}}>{{#if has_label}}</label>{{/if}}
