<style>
	html {
		background-color: #d8d8d8;
	}
</style>
<div class="background-ash">
	<div class="wrapper u-p-y-4">
		<div class="row background-ash">
			<div class="grid-18 grid-md-12">
				<h1 class="supersize">UTM-generator</h1>
				<p class="preamble">UTM används för att märka upp våra betalda marknadsföringssatsningar. Det möjliggör att vi ser var trafiken kommer ifrån och var vi presterar bra.</p>
			</div>
			<div class="grid-18">
				<h2>Steg 1: Ange länken du vill tagga</h2>
				<div class="field-group u-z-index-foreground u-p-t-1 u-p-b-2">
					<label for="URL" class="{{labelClasses}}">URL</label>
					<div class="display-flex">
						<input type="url" id="URL" placeholder="https://www.exempel.se" autocomplete="off" class="a-input a-input--large" pattern="https://.*" required>
					</div>
				</div>
				<div class="row u-m-t-2 u-m-b-4">
					<div class="grid-18">
						<h2>Steg 2: Välj var länken kommer att delas</h2>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/meta-logo.svg" class="m-card__image m-card__media" alt="Meta logotype">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_meta" name="utm_source" value="utm_source_meta" class="a-radio u-visuallyhidden" data-toggle="radio" data-target="metaTarget" aria-controls="metaTarget" aria-expanded="false">
									<label for="utm_source_meta" class="u-link-area u-position-static">
										Facebook / Instagram
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/google-ads.svg" class="m-card__image m-card__media" alt="Google Ads logotype">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_google_ads" name="utm_source" value="utm_source_google_ads" class="a-radio u-visuallyhidden"  data-toggle="radio" data-target="googleAdsTarget" aria-controls="googleAdsTarget" aria-expanded="false">
									<label for="utm_source_google_ads" class="u-link-area u-position-static">Google Ads</label>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/x.svg" class="m-card__image m-card__media" alt="X logotype">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_x" name="utm_source" value="utm_source_x" class="a-radio u-visuallyhidden" data-toggle="radio" data-target="xTarget" aria-controls="xTarget" aria-expanded="false">
									<label for="utm_source_x" class="u-link-area u-position-static">X / Twitter</label>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/linkedin-logo.svg" class="m-card__image m-card__media" alt="LinkedIn logotype">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_linkedin" name="utm_source" value="utm_source_linkedin" class="a-radio u-visuallyhidden" data-toggle="radio" data-target="linkedinTarget" aria-controls="linkedinTarget" aria-expanded="false">
									<label for="utm_source_linkedin" class="u-link-area u-position-static">LinkedIn</label>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/email.svg" class="m-card__image m-card__media" alt="E-post">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_email" name="utm_source" value="utm_source_email" class="a-radio u-visuallyhidden" data-toggle="radio" data-target="emailTarget" aria-controls="emailTarget" aria-expanded="false">
									<label for="utm_source_email" class="u-link-area u-position-static">Nyhetsbrev</label>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-18 grid-sm-xs-9 grid-md-6 grid-lg-3 u-m-b-2">
						<div class="m-card m-card--padded">
							<img src="/assets/images/link.svg" class="m-card__image m-card__media" alt="Link">
							<div class="m-card__content u-p-x-2 u-p-y-0">
								<div class="radio">
									<input type="radio" id="utm_source_collab" name="utm_source" value="utm_source_collab" class="a-radio u-visuallyhidden" data-toggle="radio" data-target="collabTarget" aria-controls="collabTarget">
									<label for="utm_source_collab" class="u-link-area u-position-static">Samarbeten</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- META -->
				{{render '@utm-generator--meta'}}

				<!-- GOOGLE -->
				{{render '@utm-generator--google'}}

				<!-- X -->
				{{render '@utm-generator--x'}}

				<!-- LINKEDIN -->
				{{render '@utm-generator--linkedin'}}

				<!-- EMAIL -->
				{{render '@utm-generator--email'}}

				<!-- COLLABORATION -->
				{{render '@utm-generator--collab'}}
			</div>
		</div>
	</div>
</div>
<div class="u-p-y-2 background-concrete">
	<div class="wrapper">
		<div class="row">
			<div class="grid-18">
				<div class="field-group u-position-sticky-top-0 u-z-index-foreground u-p-t-1 u-p-b-2">
					<label for="URL" class="{{labelClasses}}">Kampanj URL</label>
					<div class="display-flex">
						<input type="url" id="URL" placeholder="https://www.exempel.se" autocomplete="off" class="a-input u-m-r-2" pattern="https://.*" required readonly>
						<button type="button" class="a-button u-flex-shrink-0">
							<span class="a-button__text">Kopiera länk</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
