<div class="wrapper-fluid">
	<div class="o-footer--row o-footer" id="siteFooter">
		<div class="grid-xl-6 grid-lg-8 grid-18 o-footer__info">
			<div class="o-footer__info__inner">
				{{{footer_text}}}
				<div class="o-footer--row">
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_1}}}
					</div>
					<div class="grid-xxl-9 grid-18 o-footer__contact">
						{{{contact_2}}}
					</div>
				</div>
				<div class="o-footer--row u-m-t-2 align-items-center">
					<div class="o-footer-grid">
						<a href="{{ISO_link}}" class="o-footer__link o-footer__ISO-link">
							<img src="{{ISO_image}}" class="o-footer__ISO-logo" alt="Certifierade enligt ISO/IEC 27001:2013">
							<span>{{{ISO_text}}}</span>
						</a>
					</div>
					<div class="o-footer-grid">
						<a href="https://creativecommons.org/licenses/by/4.0/legalcode.sv" class="o-footer__link o-footer__ISO-link">
							<img class="o-footer__ISO-logo" src="https://2018.svenskarnaochinternet.se/wp-content/uploads/sites/20/2019/05/ccby.png" alt="Creative Commons licens, Erkännande 4.0 Internationell">
							<span>Creative Commons licens, Erkännande 4.0 Internationell</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-xl-12 grid-lg-10 grid-18 o-footer__logotypes">
			<div class="o-footer--row o-footer__grid-row">
				<div class="o-footer__grid-row__item">
					<a href="https://svenskarnaochinternet.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype" alt="Svenskarna och internet" src="https://static.iis.se/images/logotypes/svenskarna-och-internet.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Svenskarna och internet</h2>
								<span>En årlig studie av svenska folkets internetvanor</span>
							</div>
						</div>
					</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="https://internetdagarna.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype" alt="Internetdagarna" src="https://static.iis.se/images/logotypes/internetdagarna.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Internetdagarna</h2>
								<span>Internetdagarna är en konferens som arrangeras av Internetstiftelsen</span>
							</div>
						</div>
					</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="https://goto10.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype"  alt="Goto10" src="https://static.iis.se/images/logotypes/goto-10.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Goto 10</h2>
								<span>Goto 10 är en start- och mötesplats för internetrelaterade frågor som drivs av Internetstiftelsen</span>
							</div>
						</div>
					</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="https://bredbandskollen.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype"  alt="Bredbandskollen" src="https://static.iis.se/images/logotypes/bredbandskollen.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Bredbandskollen</h2>
								<span>Bredbandskollen är ett oberoende konsumentverktyg som drivs av Internetstiftelsen</span>
							</div>
						</div>
					</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="https://internetmuseum.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype"  alt="Internetmuseum" src="https://static.iis.se/images/logotypes/internetmuseum.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Internetmuseum</h2>
								<span>Internetmuseum är ett digitalt museum som byggts, och kureras av Internetstiftelsen</span>
							</div>
						</div>
					</a>
				</div>
				<div class="o-footer__grid-row__item">
					<a href="https://digitalalektioner.iis.se" class="o-footer__grid-row__item__link">
						<div class="o-footer__grid-row__item__inner">
							<div class="o-footer__grid-row__item__front">
								<img class="o-footer__logotype"  alt="Digitala lektioner" src="https://static.iis.se/images/logotypes/digitala-lektioner.svg">
							</div>
							<div class="o-footer__grid-row__item__back">
								<h2>Digitala lektioner</h2>
								<span>Digitala lektioner är en kostnadsfri lärresurs från Internetstiftelsen med lektioner och material som täcker allt som rör digital kompetens och programmering i grundskolan</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="u-p-y-1 o-footer__bottom-links">
			<nav>
				<ul class="u-list-clean display-flex">
					<li class="u-p-x-1"><a href="https://internetstiftelsen.se/om-webbplatsen/" class="o-footer__link o-footer__about-link">Om webbplatsen</a></li>
					<li class="u-p-x-1"><a href="https://internetstiftelsen.se/om-webbplatsen/cookies/" class="o-footer__link o-footer__about-link">Om cookies</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
