<div class="m-cookie-disclaimer js-cookie-disclaimer">
	<div{{#if role}} role="{{role}}"{{/if}} class="u-m-b-0 u-p-3 m-alert m-alert--{{type}}{{#if is_dismissable}} m-alert--dismissable{{/if}}{{#if js_class}} {{js_class}}{{/if}}">
		<h2 class="u-m-b-1">{{name}}</h2>
		<div>
			{{{text}}}
		</div>
		{{#if is_dismissable}}
		<div class="display-flex justify-content-end">
			{{> @button el="button" modifiers="is-static" text="Jag accepterar kakor" id="js-accept-cookies"}}
		{{/if}}
		</div>
	</div>
</div>
