<div class="m-system-error">
	<div class="m-system-error__content">
		<h1 class="m-system-error__heading">{{errorCode}}</h1>
		<p class="preamble">{{preamble}}</p>
		<p>{{{suggestion}}}</p>
		<hr>
		<em>{{errorCode}} {{errorMessage}}</em>
	</div>
</div>
