<div class="wrapper-fluid background-snow o-domain-search{{#if addidional_classes}} {{addidional_classes}}{{/if}}" {{#if id}}id="domain-search"{{/if}} aria-hidden="{{hidden}}">
	<div class="wrapper u-p-x-0">
		<div class="grid u-p-x-0">
			<div class="display-flex align-items-center">
				<div class="grid display-flex">
					<label for="{{input_id}}" class="u-visuallyhidden">{{#if label}}{{label}}{{/if}}</label>
					<input type="search" class="o-domain-search__input js-search-domain-input" autocomplete="off" {{#if label}}placeholder="{{label}}"{{/if}} id="{{input_id}}">
					{{> @button el="button" button_type="submit" text="Sök" modifiers="secondary o-domain-search__submit" id="o-domain-search-submit"}}
				</div>
			</div>
			<div class="row">
				<div class="grid">
					<ul class="o-domain-search__list u-list-clean row justify-content-xl-between">
						<li class="grid-18 grid-md-9 grid-xl-4"><a href="https://old.iis.se/domaner/registrera/tips/">Hur registrerar jag en domän?</a></li>
						<li class="grid-18 grid-md-9 grid-xl-4"><a href="https://old.iis.se/domaner/kontakta-kundtjanst/?q=">Ändra mina befintliga uppgifter</a></li>
						<li class="grid-18 grid-md-9 grid-xl-4"><a href="https://old.iis.se/domaner/free/?q=">Ta reda på ägaren av ett domännamn</a></li>
						<li class="grid-18 grid-md-9 grid-xl-4"><a href="https://old.iis.se/domaner/aterforsaljare/">Hitta återförsäljare av domäner</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
