<div class="wrapper">
	<div class="row">
		<div class="grid">
			{{> @hero additional_classes="o-hero--border-radius" heading="Visste du att internet är skitstort?" text="Aenean imperdiet, turpis a lobortis maximus, ex justo hendrerit odio, non viverra odio tortor eget velit."}}
		</div>
	</div>
	<div class="row u-m-t-2">
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
		<div class="grid-lg-6 grid-md-9 grid-18 u-m-b-2">
			{{render '@card'}}
		</div>
	</div>
	<div class="row">
		<div class="grid display-flex justify-content-between">
			{{> @paging icon="arrow-backwards" text="Bakåt"}}
			{{> @paging icon="arrow-forwards" text="Framåt"}}
		</div>
	</div>
</div>
