<div class="wrapper-fluid o-mega-menu{{#if modifier}} {{modifier}}{{/if}} color-jade-light" aria-hidden="{{hidden}}" id="{{id}}">
	<ul class="o-mega-menu__buttons-list js-search-toggles">
		<li class="o-mega-menu__buttons-list__item color-jade">
			<button type="button" data-a11y-toggle="domain-search" class="o-mega-menu__buttons-list__link color-jade">
			<svg class="icon">
				<use xlink:href="#icon-search-domain"></use>
			</svg>
			<span class="color-cyberspace  u-display-inline-block u-p-x-1">Sök ledig domän</span>
			</button>
		</li>
		<li class="o-mega-menu__buttons-list__item color-jade">
			<button type="button" data-a11y-toggle="site-search" class="o-mega-menu__buttons-list__link color-jade">
				<svg class="icon">
					<use xlink:href="#icon-search"></use>
				</svg>
				<span class="color-cyberspace u-display-inline-block u-p-x-1">Sök info</span>
			</button>
		</li>
	</ul>
	<div id="domain-search" class="o-mega-menu__search-container color-jade">
		<form action="">
			<div class="wrapper">
				<div class="display-flex align-items-center">
					<div class="grid display-flex u-p-x-0">
						<label for="domain-search-input" class="u-visuallyhidden">Sök domän</label>
						<input type="search" class="o-domain-search__input js-search-domain-input color-cyberspace" autocomplete="off" placeholder="Sök ledig domän" id="domain-search-input">
						<button type="submit" class="a-button a-button--secondary u-p-x-2 u-flex-grow-1 u-flex-shrink-0" id="o-domain-search-submit">
							<span class="a-button__text u-nowrap">Sök domän</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="site-search" class="o-mega-menu__search-container color-jade">
		<form action="">
			<div class="wrapper">
				<div class="display-flex align-items-center">
					<div class="grid display-flex u-p-x-0">
						<label for="site-search-input" class="u-visuallyhidden">Sök info</label>
						<input type="search" class="o-domain-search__input js-search-domain-input color-cyberspace" autocomplete="off" placeholder="Sök info" id="site-search-input">
						<button type="submit" class="a-button a-button--secondary u-p-x-2 u-flex-grow-1 u-flex-shrink-0" id="o-domain-search-submit">
							<span class="a-button__text u-nowrap">Sök info</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<nav class="wrapper o-mega-menu__wrapper color-jade" aria-label="Megameny">
		<div class="row align-items-start">
			{{#each columns}}
				<div class="grid-18 grid-lg o-mega-menu__column">
					<div class="o-mega-menu__topic color-jade">
						<a href="#" class="o-mega-menu__link o-mega-menu__link--large">{{headline}}</a>
						<button class="a-button a-button--standalone-icon o-mega-menu__topic-button color-jade" data-a11y-toggle="{{list_id}}" data-toggle-target="{{list_id}}-text" data-toggle-text="Visa undermeny|Dölj undermeny">
							<span class="a-button__text" id="{{list_id}}-text">Visa undermeny för {{headline}}</span>
							<svg class="icon a-button__icon">
								<use xlink:href="#icon-arrow-down"></use>
							</svg>
						</button>
					</div>
					<dl class="o-mega-menu__list color-jade" id="{{list_id}}">
						{{#each topics}}
							{{#if topic}}<dt class="o-mega-menu__list__topic color-jade-medium-dark"><a href="#" class="o-mega-menu__link">{{topic}}</a></dt>{{/if}}
							{{#each items}}
								<dd class="o-mega-menu__list__item color-jade-medium-dark"><a href="#" class="o-mega-menu__link">{{item}}{{#if external}}{{> @icon id="external-link" additional_classes="o-mega-menu__link__icon"}}{{/if}}</a></dd>
							{{/each}}
						{{/each}}
					</dl>
				</div>
			{{/each}}
		</div>
	</nav>
	<ul class="o-mega-menu__buttons-list">
		<li class="o-mega-menu__buttons-list__item color-jade">
			<a href="" class="o-mega-menu__buttons-list__link color-jade-light">
				<svg class="icon">
					<use xlink:href="#icon-speaker"></use>
				</svg>
				<span class="color-cyberspace">Lyssna</span>
			</a>
		</li>
		<li class="o-mega-menu__buttons-list__item color-jade">
			<a href="" class="o-mega-menu__buttons-list__link color-jade-light">
				<svg class="icon">
					<use xlink:href="#icon-headset"></use>
				</svg>
				<span class="color-cyberspace">Kontakta oss</span>
			</a>
		</li>
	</ul>
</div>
<script>
	function collapse (toggle) {
		var id = toggle.getAttribute('data-a11y-toggle');
		var collapsibleBox = document.getElementById(id);
		collapsibleBox.setAttribute('aria-hidden', true);
		toggle.setAttribute('aria-expanded', false);
	}

	function collapseAll (event) {
		toggles
			.filter(function (toggle) {
				return toggle !== event.target;
			})
			.forEach(collapse);
	}

	var toggles = Array.prototype.slice.call(
		document.querySelectorAll('.js-search-toggles [data-a11y-toggle]')
	);

	toggles.forEach(function (toggle) {
		toggle.addEventListener('click', collapseAll);
	});
</script>
