<div class="wrapper-fluid o-mega-menu{{#if modifier}} {{modifier}}{{/if}}" aria-hidden="{{hidden}}" id="{{id}}">
	{{#if domain_search}}
		{{> @domain-search hidden="true" id="domain-search-2" input_id="search-domain-2" label="sök en .se- eller .nu-domän" addidional_classes="o-domain-search--is-in-mega-menu"}}
	{{/if}}
	<nav class="wrapper o-mega-menu__wrapper" aria-label="Megameny">
		<div class="row align-items-start">
			{{#each columns}}
				<div class="grid-18 grid-lg">
					<a href="#" class="o-mega-menu__link o-mega-menu__link--large">{{headline}}</a>
					<dl class="o-mega-menu__list">
						{{#each topics}}
							{{#if topic}}<dt class="o-mega-menu__list__topic"><a href="#" class="o-mega-menu__link">{{topic}}</a></dt>{{/if}}
							{{#each items}}
								<dd class="o-mega-menu__list__item"><a href="#" class="o-mega-menu__link">{{item}}{{#if external}}{{> @icon id="external-link" additional_classes="o-mega-menu__link__icon"}}{{/if}}</a></dd>
							{{/each}}
						{{/each}}
					</dl>
				</div>
			{{/each}}
		</div>
	</nav>
	{{#if search}}
		<div class="row o-mega-menu__search__wrapper background-jade">
			<div class="wrapper">
				<div class="row align-items-center">
					<div class="grid-auto u-p-r-0">
					<span class="o-search__icon">
						<svg class="icon">
							<use xlink:href="#icon-search"></use>
						</svg>
					</span>
					</div>
					<form role="search" method="get" action="/" class="grid u-p-l-0 display-flex">
						<label for="" class="u-visuallyhidden">sök internetstiftelsen.se</label>
						<input type="search" name="s" class="o-search__input" value="" placeholder="sök internetstiftelsen.se" aria-describedby="number-of-hits" id="">
						<button id="o-search-result-submit" type="submit" class="a-button a-button a-button--large-responsive o-search__submit">
							<span class="a-button__text">Sök</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	{{/if}}
</div>
