<figure class="m-teaser-bg">
	<img src="{{background_image}}" alt="{{alt}}" class="m-teaser-bg__image">
	<figcaption class="m-teaser-bg__caption">
		<div class="m-teaser-bg__content">
			<h1 class="m-teaser-bg__headline">
				{{content_text}}
			</h1>
			<p class="m-teaser-bg__excerpt">
				{{excerpt}}
			</p>
			<a href="#" class="m-teaser-bg__button a-button a-button--lemon">
				<span class="a-button__text">{{button_text}}</span>
			</a>
		</div>
	</figcaption>
</figure>

