<div class="wrapper">
	<div class="row justify-content-center">
		<div class="grid-18 grid-lg-16 u-p-t-4 u-p-b-1">
			<div class="row display-flex align-items-center">
				<div class="grid-auto u-p-r-0">
					<span class="o-search-result__icon">
						{{> @icon id="search"}}
					</span>
				</div>
				<div class="grid u-p-l-0 display-flex">
					<label for="{{input_id}}" class="u-visuallyhidden">{{label}}</label>
					<input type="search" class="o-search-result__input js-search-domain-input" placeholder="{{label}}" id="{{input_id}}">
					{{> @button el="button" button_type="submit" text="Sök" modifiers="secondary o-search-result__submit" id="o-search-result-submit"}}
				</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="grid-18 grid-lg-16">
			<main role="main" class="article">
				<div class="row u-m-b-1">
					<div class="grid">
						{{render '@filter'}}
					</div>
				</div>
				<div class="row">
					<div class="grid-18">
						{{render '@search-result'}}
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
