<div class="site">
	{{#each sections}}
	<section class="o-section{{#if type}} o-section--{{type}}{{/if}}">
		<div class="wrapper o-section__content {{#if modifier}} o-section__content--{{modifier}}{{/if}}">
			{{#if has_header}}
			<header class="o-section__header">
				<div class="row">
					<div class="grid-18 grid-md-8 offset-md-1">
			{{/if}}
			{{#if meta}}<strong class="a-meta">Hjärtefråga</strong>{{/if}}
			<h1{{#if heading_class}} class="{{heading_class}}"{{/if}}>{{heading}}</h1>
			<p{{#if heading_class}} class="preamble"{{/if}}>{{text}}</p>
			{{#if has_header}}
					</div>
				</div>
			</header>
			{{/if}}
			{{#if has_grid}}
			<div class="row asymmetric-md u-m-b-2">
				<div class="grid-18 grid-md-6 u-m-b-2">
					<article class="m-card m-card--padded m-card--shadow">
						<img width="500" height="290" class="m-card__image m-card__media" alt="kvinna sitter med mobil." src="https://internetstiftelsen.se/app/uploads/2019/01/kvinna-med-mobil-500x290.jpg">
						<div class="m-card__content">
							<a href="https://digitalalektioner.se/" class="m-card__link"><h1 class="beta">Digitala lektioner</h1></a>
							<p>Digitala lektioner är en fri lärresurs med lektioner som täcker allt som rör digital kompetens i grundskolan.</p>
						</div>
					</article>
				</div>
				<div class="grid-18 grid-md-6 u-m-b-2">
					<article class="m-card m-card--padded m-card--shadow">
						<img width="500" height="290" class="m-card__image m-card__media" alt="Kvinna sitter vid dator i ett klassrum." src="https://internetstiftelsen.se/app/uploads/2019/01/ALX_7293-500x290.jpg">
						<div class="m-card__content">
							<a href="https://digitalalektioner.se/fortbildning/" class="m-card__link"><h1 class="beta">Fortbildning för pedagoger</h1></a>
							<p>Internetstiftelsen erbjuder kostnadsfri fortbildning för pedagoger kring digital kompetens.</p>
						</div>
					</article>
				</div>
				<div class="grid-18 grid-md-6 u-m-b-2">
					<article class="m-card m-card--padded m-card--shadow">
						<img width="500" height="290" class="m-card__image m-card__media" alt="Pojke sitter i en soffa och läser på sin laptop som finns i knäet" src="https://internetstiftelsen.se/app/uploads/2020/08/pojke-studerar-hemma-500x290.jpg">
						<div class="m-card__content">
							<a href="https://digitalalektioner.se/skola-overallt/" class="m-card__link"><h1 class="beta">Skola överallt med Digitala lektioner</h1></a>
							<p>Spridningen av coronaviruset gör att distansundervisning kan bli det nya normala för många lärare och elever.</p>
						</div>
					</article>
				</div>
			</div>
			{{/if}}
		</div>
	</section>
	{{/each}}
</div>
