<div class="field-group{{#unless has_preview}} align-items-center{{/unless}}">
	{{#if has_preview}}
	<div class="a-file-preview" data-label="Förhandsvisning">
		<img data-id="filePreview" alt="Förhandsvisning" src="">
	</div>
	{{/if}}
	<input type="{{type}}" id="{{id}}" {{#if is_invalid}}aria-invalid="true"{{/if}} class="a-file {{#if modifier}} {{modifier}}{{/if}}"  data-multiple-caption="{count} filer valda" {{#if is_multiple}} multiple{{/if}} {{#if has_preview}}accept=".jpg, .jpeg, .png, .gif" data-id="fileInput"{{/if}}>
	<label for="{{id}}" class="a-button a-button--icon a-file-icon{{#if color_variant}} background-{{color_variant}} color-{{color_variant}}{{/if}}">
		<span class="a-button__text a-file-text">{{placeholder}}</span>
		{{> @icon id=icon additional_classes="a-button__icon"}}
	</label>
	<button type="button" class="a-button a-button--standalone-icon a-button--icon js-remove-file is-hidden">
		<span class="a-button__text u-visuallyhidden">Ta bort</span>
		{{> @icon id="trash" additional_classes="a-button__icon"}}
	</button>
</div>
