<div class="field-group{{#if is_invalid}} is-invalid{{/if}}">
	{{> @label for="message" label="Meddelande" }}
	<textarea rows="5" class="a-textarea{{#if modifier}} {{modifier}}{{/if}}" id="{{id}}" {{#if is_invalid}}aria-invalid="true"{{/if}} {{#if is_richtext}}data-rich-text{{/if}} {{#if required}}required {{/if}} {{#if is_disabled}}disabled {{/if}} placeholder="{{placeholder}}" autocomplete="{{autocomplete}}"{{#if has_help}} aria-describedby="textarea-help"{{/if}} {{#if required}} aria-describedby="textarea-help"{{/if}}></textarea>
	{{#if has_help}}
	<div class="input-help" id="textarea-help">
		V채lj det som passar dig b채st
	</div>
	{{else if required}}
	<div class="input-help" id="textarea-help">
		F채tet 채r obligatoriskt
	</div>
	{{/if}}
</div>
