<!--htmlhint style-disabled:false -->
<h1>Default colors</h1>
<div class="colors">
	{{#each colors}}
	<div class="color">
		<div class="background-{{name}}{{#if hasBorder}} has_border{{/if}}"></div>
		<p class="beta color-name">{{name}}</p>
		<p><strong>{{../sass}}:</strong> {{title}}</p>
		<p><strong>{{../hex}}:</strong> {{hex}}</p>
		<p><strong>{{../rgb}}:</strong> {{rgb}}</p>
		<p><strong>{{../cmyk}}:</strong> {{cmyk}}</p>
		<p><strong>{{../pms}}:</strong> {{pms}}</p>
	</div>
	{{/each}}
</div>

<h2 class="alpha">Accessibility colors</h2>
<div class="row no-gutters">
	<div class="grid-xl-7 grid-lg-10 grid-md-12 grid-18">
		<p>This set of colors are to be used only for accessibility purposes when the default colors doesn't meet the WCAG AA baseline. Any use of these colors must be approved by Internetstiftelsen.</p>
	</div>
</div>

<div class="colors">
{{#each specialColors}}
	<div class="color color-33">
		<div class="background-{{name}}{{#if hasBorder}} has_border{{/if}}"></div>
		<p class="beta color-name">{{name}}</p>
		<p><strong>{{../sass}}:</strong> {{title}}</p>
		<p><strong>{{../hex}}:</strong> {{hex}}</p>
		<p><strong>{{../rgb}}:</strong> {{rgb}}</p>
		<p><strong>{{../cmyk}}:</strong> {{cmyk}}</p>
		<p><strong>{{../pms}}:</strong> {{pms}}</p>
	</div>
	{{/each}}
</div>

<style>
	.colors {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 2em;
	}

	.color {
		flex: 100% 1 0;
		max-width: 100vw;
	}

	@media (min-width: 768px) {
		.color {
			flex: 50% 1 0;
		}
		.color-33 {
			flex: 33.333333% 1 0;
		}
	}

	.color div {
		width: 100%;
		height: 80px;
		margin-bottom: 10px;
	}

	.has_border {
		border: 1px solid #d8d8d8;
	}

	.color p {
		line-height: 1.25;
		margin: 0 10px;
	}

	.color p:last-child {
		margin-bottom: 40px;
	}

	.color p strong {
		font-family: 'Roboto Mono Regular', monotype;
	}

	.color-name::first-letter {
		text-transform: uppercase;
	}
</style>
