<nav id="timeline-navigation" class="m-timeline-navigation" aria-hidden="true" data-focus-trap="false">
	<ol class="m-timeline-navigation__list">
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-ocean">
				1963
			</div>
			<a href="#1963" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-ocean">
				1967
			</div>
			<a href="#1967" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-ocean">
				1969
			</div>
			<a href="#1969" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-sandstone">
				1971
			</div>
			<a href="#1971" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-sandstone">
				1973
			</div>
			<a href="#1973" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-sandstone">
				1974
			</div>
			<a href="#1974" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
		<li class="m-timeline-navigation__list__item">
			<div class="a-meta color-ruby">
				1982
			</div>
			<a href="#1982" class="m-timeline-navigation__list__item__link">
				<h2>Data vidion är en "text-tv-indenter"</h2>
			</a>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed odio urna, pulvinar et eleifend id, mattis a nunc. Fusce porttitor sed dolor et fermentum.</p>
		</li>
	</ol>
</nav>

<{{getelement el "button"}}
	{{#if button_type}}type="{{button_type}}"{{/if}}
	{{#if url}}href="{{ url }}"{{/if}}
	class="a-paging{{#if additional_classes}} {{ additional_classes}}{{/if}}" aria-expanded="false" data-a11y-toggle="{{aria_controls}}" aria-controls="{{aria_controls}}">
	<span class="u-visuallyhidden">{{text}}</span>
	{{> @icon id=icon additional_classes="a-paging__icon"}}
</{{getelement el "button"}}>
<div class="m-timeline-navigation__button__overlay js-timeline-overlay"></div>
