<li class="o-service-product-list__item">
	<div class="o-service-product-list__logo">
		<a href="http://www.gotit.se/"><img class="o-service-product-list__logo__image" src="{{logo}}" alt="{{provider}}"></a>
	</div>
	<div class="o-service-product-list__data">
		<dl class="o-service-product-list__data__list">
			<dt>{{serviceName}}</dt>
			<dd><a href="http://www.gotit.se/">{{provider}}</a></dd>
			<dd>{{description}}</dd>
		</dl>
	</div>
</li>