{{#if limited_width}}
{{#unless is_event}}<div class="wrapper">{{/unless}}
	<div class="row">
		<div class="grid">
{{/if}}
<figure class="o-hero{{#if no_image_class}} {{no_image_class}}{{/if}}{{#if has_radius}} o-hero--border-radius{{/if}}{{#if has_video}} {{video_class}}{{/if}} {{#if is_event}}o-hero--event background-peacock-light{{/if}}">
	{{#if has_image}}<img src="/assets/images/hero.jpg" alt="hero" class="o-hero__image">{{/if}}
	{{#if has_video}}
		<iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/3RVcnx-hOk8?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{{else if is_event}}
		<figcaption>
			<div class="o-hero__content">
				<p class="o-hero__text">Event på Goto 10 i <strong>{{city}}</strong></p>
				<h1 class="supersize">{{event_title}}</h1>
				<p class="o-hero__text">
					<span class="meta">{{time}}</span> |
					<span class="u-nowrap">Arrangör: <a href="#">{{organizer}}
					<svg class="icon o-mega-menu__link__icon">
						<use xlink:href="#icon-external-link"></use>
					</svg></a>
					</span>
				</p>
				{{render '@share'}}
		</div>
	</figcaption>
	{{else}}
	<figcaption class="o-hero__caption">
		<div class="wrapper">
			<div class="o-hero__text">
				<a href="#" class="o-hero__link">
					<h1 class="supersize">{{heading}}</h1>
					<p class="o-hero__paragraph">{{text}}</p>
					<div class="o-hero__tags">
						{{> @tag is_light=true text="internet"}}
					</div>
				</a>
			</div>
		</div>
	</figcaption>
	{{/if}}
</figure>
{{#if limited_width}}
		</div>
	</div>
{{#unless is_event}}</div>{{/unless}}
{{/if}}
