{{#if limited_width}}
{{#unless is_event}}<div class="wrapper">{{/unless}}
	<div class="row">
		<div class="grid">
{{/if}}
<figure class="o-hero{{#if no_image_class}} {{no_image_class}}{{/if}}{{#if has_radius}} o-hero--border-radius{{/if}}{{#if has_video}} {{video_class}}{{/if}} {{#if is_event}}o-hero--event {{/if}}{{#if geometric_figures}} o-hero--geometric {{/if}}{{#if background_color}} {{background_color}} {{/if}}">
	{{#if has_image}}<img src="{{hero_image}}" alt="hero" class="o-hero__image">{{/if}}
	{{#if has_video}}
		<iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/3RVcnx-hOk8?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	{{else if is_event}}
		<div class="wrapper">
			<figcaption>
				<div class="o-hero__content">
					<p class="o-hero__text">{{event_text}} {{#if city}}<strong>{{city}}</strong>{{/if}}</p>
					<h1 class="supersize">{{event_title}}</h1>
					<p class="o-hero__text display-flex flex-wrap">
						<span class="meta u-m-y-0 u-p-y-0 u-p-r-1">{{time}}</span>
						<span class="o-hero__spacer">|</span>
						<span>Arrangör: <a href="#">{{organizer}}
							<svg class="icon o-mega-menu__link__icon">
								<use xlink:href="#icon-external-link"></use>
							</svg></a>
						</span>
					</p>
						{{#if has_button}}
							{{> @button el="a" modifiers="lemon a-button--inline u-m-y-2 u-m-r-2"}}
						{{/if}}
						{{> @share modifiers="inline"}}

			</div>
		</figcaption>
	</div>
	{{else}}
	<figcaption class="o-hero__caption">
		<div class="wrapper">
			<div class="o-hero__text">
				{{#if has_link}}<a href="#" class="o-hero__link">{{/if}}
					<h1 class="supersize">{{heading}}</h1>
				{{#if has_link}}</a>{{/if}}
				<p class="o-hero__paragraph">{{text}}</p>
				{{#if has_tags}}
					<div class="o-hero__tags">
						{{> @tag is_light=true text="internet"}}
					</div>
				{{else if has_buttons}}
					<div class="o-hero__buttons">
						{{render '@button'}}
						{{render '@button'}}
					</div>
				{{/if}}
			</div>
		</div>
	</figcaption>
	{{/if}}
</figure>
{{#if limited_width}}
		</div>
	</div>
{{#unless is_event}}</div>{{/unless}}
{{/if}}
