<div class="row no-gutters">
	<div class="grid">
		{{#if scrollable}}
		<div class="table-scroll-wrapper scroll-on-large u-m-b-double">
			<div class="scroll-indicator"></div>
		{{/if}}
				<div class="table-container">
					<table class="m-table{{#if modifier}} {{modifier}}{{/if}}">
						{{#unless increment}}
						<thead>
							<tr>
								<th>{{th1}}</th>
								<th>{{th2}}</th>
								<th>{{th3}}</th>
								<th>{{th4}}</th>
								<th>{{th5}}</th>
							</tr>
						</thead>
						{{/unless}}
						<tbody>
							<tr>
								{{#if increment}}<th>&nbsp;</th>{{/if}}
								<td data-header="{{th1}}"><a href="#">{{td}}</a></td>
								<td data-header="{{th2}}">{{td_num1}} <small>{{td_unit1}}</small></td>
								<td data-header="{{th3}}">{{td_num2}} <small>{{td_unit2}}</small> </td>
								<td data-header="{{th4}}">{{td_num3}} <small>{{td_unit3}}</small> </td>
								<td data-header="{{th5}}">{{td_num4}} <small>{{td_unit4}}</small> </td>
							</tr>
							<tr>
								{{#if increment}}<th>&nbsp;</th>{{/if}}
								<td data-header="{{th1}}"><a href="#">{{td}}</a></td>
								<td data-header="{{th2}}">{{td_num1}} <small>{{td_unit1}}</small></td>
								<td data-header="{{th3}}">{{td_num2}} <small>{{td_unit2}}</small> </td>
								<td data-header="{{th4}}">{{td_num3}} <small>{{td_unit3}}</small> </td>
								<td data-header="{{th5}}">{{td_num4}} <small>{{td_unit4}}</small> </td>
							</tr>
							<tr>
								{{#if increment}}<th>&nbsp;</th>{{/if}}
								<td data-header="{{th1}}"><a href="#">{{td}}</a></td>
								<td data-header="{{th2}}">{{td_num1}} <small>{{td_unit1}}</small></td>
								<td data-header="{{th3}}">{{td_num2}} <small>{{td_unit2}}</small> </td>
								<td data-header="{{th4}}">{{td_num3}} <small>{{td_unit3}}</small> </td>
								<td data-header="{{th5}}">{{td_num4}} <small>{{td_unit4}}</small> </td>
							</tr>
							<tr>
								{{#if increment}}<th>&nbsp;</th>{{/if}}
								<td data-header="{{th1}}"><a href="#">{{td}}</a></td>
								<td data-header="{{th2}}">{{td_num1}} <small>{{td_unit1}}</small></td>
								<td data-header="{{th3}}">{{td_num2}} <small>{{td_unit2}}</small> </td>
								<td data-header="{{th4}}">{{td_num3}} <small>{{td_unit3}}</small> </td>
								<td data-header="{{th5}}">{{td_num4}} <small>{{td_unit4}}</small> </td>
							</tr>
						</tbody>
						{{#unless increment}}
						<tfoot>
							<tr>
								<td colspan="4">{{tfoot1}}</td>
								<td>{{tfoot2}}</td>
							</tr>
						</tfoot>
						{{/unless}}
					</table>
				</div>
		{{#if scrollable}}
			</div>
		</div>
		{{/if}}
	</div>
</div>
