{{#if scrollable}}
<div class="table-scroll-wrapper scroll-on-large u-m-b-double">
	<div class="scroll-indicator"></div>
{{/if}}
		<div class="table-container">
			<table class="m-table{{#if modifier}} {{modifier}}{{/if}}" {{#if scrollable}}style="min-width:1360px"{{/if}}>
				{{#if captionText}}
					<caption>{{captionText}}</caption>
				{{else}}
					{{#if caption}}
						<caption>Caption for the table</caption>
					{{/if}}
				{{/if}}
				{{#if headerRows}}
					<thead>
						{{#each headerRows}}
							<tr>
								{{#each cells}}
									<th{{#if className}} class="{{className}}"{{/if}}{{#if scope}} scope="{{scope}}"{{/if}}{{#if colspan}} colspan="{{colspan}}"{{/if}}>{{{label}}}</th>
								{{/each}}
							</tr>
						{{/each}}
					</thead>
				{{else}}
					{{#if headers}}
						<thead>
							<tr>
								{{#each headers}}
									<th{{#if className}} class="{{className}}"{{/if}}{{#if scope}} scope="{{scope}}"{{/if}}{{#if colspan}} colspan="{{colspan}}"{{/if}}>{{{label}}}</th>
								{{/each}}
							</tr>
						</thead>
					{{else}}
						{{#unless rows}}
							{{#unless increment}}
								<thead>
									<tr>
										<th>{{th}}</th>
										<th>{{th}}</th>
										<th>{{th}}</th>
										<th>{{th}}</th>
										<th>{{th}}</th>
									</tr>
								</thead>
							{{/unless}}
						{{/unless}}
					{{/if}}
				{{/if}}
				<tbody>
					{{#if rows}}
						{{#each rows}}
							<tr{{#if className}} class="{{className}}"{{/if}}>
								{{#each cells}}
									{{#if isHeader}}
										<th{{#if className}} class="{{className}}"{{/if}}{{#if scope}} scope="{{scope}}"{{/if}}{{#if colspan}} colspan="{{colspan}}"{{/if}}>{{{content}}}</th>
									{{else}}
										<td{{#if className}} class="{{className}}"{{/if}}{{#if colspan}} colspan="{{colspan}}"{{/if}}>{{{content}}}</td>
									{{/if}}
								{{/each}}
							</tr>
						{{/each}}
					{{else}}
						<tr>
							{{#if increment}}<th>&nbsp;</th>{{/if}}
							<td><a href="#">{{td}}</a></td>
							<td>{{td_num1}} <small>{{td_unit1}}</small></td>
							<td>{{td_num2}} <small>{{td_unit2}}</small> </td>
							<td>{{td_num3}} <small>{{td_unit3}}</small> </td>
							<td>{{td_num4}} <small>{{td_unit4}}</small> </td>
						</tr>
						<tr>
							{{#if increment}}<th>&nbsp;</th>{{/if}}
							<td><a href="#">{{td}}</a></td>
							<td>{{td_num1}} <small>{{td_unit1}}</small></td>
							<td>{{td_num2}} <small>{{td_unit2}}</small> </td>
							<td>{{td_num3}} <small>{{td_unit3}}</small> </td>
							<td>{{td_num4}} <small>{{td_unit4}}</small> </td>
						</tr>
						<tr>
							{{#if increment}}<th>&nbsp;</th>{{/if}}
							<td><a href="#">{{td}}</a></td>
							<td>{{td_num1}} <small>{{td_unit1}}</small></td>
							<td>{{td_num2}} <small>{{td_unit2}}</small> </td>
							<td>{{td_num3}} <small>{{td_unit3}}</small> </td>
							<td>{{td_num4}} <small>{{td_unit4}}</small> </td>
						</tr>
						<tr>
							{{#if increment}}<th>&nbsp;</th>{{/if}}
							<td><a href="#">{{td}}</a></td>
							<td>{{td_num1}} <small>{{td_unit1}}</small></td>
							<td>{{td_num2}} <small>{{td_unit2}}</small> </td>
							<td>{{td_num3}} <small>{{td_unit3}}</small> </td>
							<td>{{td_num4}} <small>{{td_unit4}}</small> </td>
						</tr>
					{{/if}}
				</tbody>
				{{#unless increment}}
					{{#unless rows}}
					<tfoot>
						<tr>
							<td>{{tfoot}}</td>
							<td>{{tfoot}}</td>
							<td>{{tfoot}}</td>
							<td>{{tfoot}}</td>
							<td>{{tfoot}}</td>
						</tr>
					</tfoot>
					{{/unless}}
				{{/unless}}
			</table>
		</div>
{{#if scrollable}}
	</div>
</div>
{{/if}}
