<div class="row no-gutters">
<div class="grid">
	{{#if scrollable}}
	<div class="table-scroll-wrapper js-table-scroll-wrapper scroll-on-large u-m-b-double">
		<div class="scroll-indicator"></div>
	{{/if}}
	<div class="table-container js-table-container">
		<table class="m-table js-table{{#if modifier}} {{modifier}}{{/if}}">
			{{#unless increment}}
				{{#if caption}}
					<caption>{{caption}}</caption>
				{{/if}}
				<thead>
				<tr>
					{{#each headers}}
						<th>{{this}}</th>
					{{/each}}
				</tr>
				</thead>
			{{/unless}}
			<tbody>
			{{#each rows}}
				<tr>
					{{#if ../increment}}<th>&nbsp;</th>{{/if}}
					<td data-row-header="true">
						{{#if href}}
							<a href="{{href}}">{{title}}</a>
						{{else}}
							{{title}}
						{{/if}}
					</td>
					{{#each cells}}
						<td>{{{this}}}</td>
					{{/each}}
				</tr>
			{{/each}}
			</tbody>
			{{#unless increment}}
				<tfoot>
				<tr>
					{{#each footer}}
						<td>{{this}}</td>
					{{/each}}
				</tr>
				</tfoot>
			{{/unless}}
		</table>
	</div>
	{{#if scrollable}}
	</div>
	</div>
	{{/if}}
</div>
</div>
