<div class="m-share">
	<button type="button" class="a-button a-button--transparent a-button--icon m-share__button" data-a11y-toggle="share-platforms">
		<span class="a-button__text">Dela</span>
		<svg class="icon a-button__icon">
			<use xlink:href="#icon-share"></use>
		</svg>
	</button>
	<div class="m-share__platforms" aria-hidden="true" id="share-platforms">
		<a href="http://facebook.com/sharer/sharer.php?u={{url}}/&amp;title={{text}}" class="a-button a-button--standalone-icon a-button--icon m-share__icon js-share-popup">
			<span class="a-button__text"></span>
			<svg class="icon icon-facebook">
				<use xlink:href="#icon-facebook"></use>
			</svg>
		</a>
		<a href="https://twitter.com/intent/tweet?url={{url}}/&amp;text={{text}}" type="button" class="a-button a-button--standalone-icon a-button--icon m-share__icon js-share-popup">
			<span class="a-button__text"></span>
			<svg class="icon icon-twitter">
				<use xlink:href="#icon-twitter"></use>
			</svg>
		</a>
		<a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{url}}/&amp;title={{text}}" class="a-button a-button--standalone-icon a-button--icon m-share__icon js-share-popup">
			<span class="a-button__text"></span>
			<svg class="icon icon-linkedin">
				<use xlink:href="#icon-linkedin"></use>
			</svg>
		</a>
	</div>
</div>
